.container {
  
  display: flex;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #3498db, #1abc9c);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}