.container {
    width: 100%;
    display: flex;
    height: 100vh;
}

.left {
   flex:2;
}

.right {
    flex:1;
}


/* @media (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 100%;
    }
    .left { width: 100%;}
    .right { width: 100%;}
} */