.container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

}

.carousel {
    height: 60%;
    width: 40%;
    align-self: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}