.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
  }
  
  .bar {
    /* width: 20%; */
    height: 100%;
  }
  
  .main {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    /* background-color: antiquewhite; */
    width: 100%;
  }